div {
	--video-info-hashtag-color: rgba(192,192,192,1);
	--video-info-hashtag-active-color: rgba(255,255,255,1);
	--video-info-hashtag-shadow: 0.1vh 0.1vh 0.1vh rgba(0,0,0,1);
	--video-info-hashtag-active-shadow: 0 0 1vh rgba(255,152,0,1);
}

.VideoInfoBar {
	position: fixed;
	bottom: 0;
	left: 0;
	color: #FFFFFF;
	width: 100%;
	padding: 1vh 2vh;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0,0,0,0) 100%);
	text-align: left;
	overflow: visible;
}

.VideoInfoHashtag {
	text-transform: uppercase;
	padding-right: 1vh;
	font-family: 'Six Caps', sans-serif;
	font-size: 2.5vh;
	letter-spacing: 0.25vh;
	display: inline-block;
}

.VideoInfoHashtag:hover {
	text-decoration: underline;
}

.VideoInfoHashtagInactive {
	color: var(--video-info-hashtag-color);
	-webkit-text-shadow: var(--video-info-hashtag-shadow);
	-moz-text-shadow: var(--video-info-hashtag-shadow);
	text-shadow: var(--video-info-hashtag-shadow);
}

.VideoInfoHashtagActive {
	color: var(--video-info-hashtag-active-color);
	-webkit-text-shadow: var(--video-info-hashtag-active-shadow);
	-moz-text-shadow: var(--video-info-hashtag-active-shadow);
	text-shadow: var(--video-info-hashtag-active-shadow);
}
